@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    font-family: 'Great Vibes', cursive;
}
h1 {
    margin: 0;
    padding: 0;
    color: #520725;
    font-size: 50px;
}
h1 span {
    display: table-cell;
    margin: 0;
    padding: 0;
    filter: blur(1.5px);
    text-shadow: 0 0 10px ##520725, 0 0 20px ##520725, 0 0 40px ##520725, 0 0 80px ##520725, 0 0 120px ##520725, 0 0 200px ##520725, 0 0 300px ##520725, 0 0 400px ##520725;
    animation: animate 2s linear infinite;
}
h1 span:nth-child(1) {
    animation-delay: 0.15s;
}
h1 span:nth-child(2) {
    animation-delay: 0.30s;
}
h1 span:nth-child(3) {
    animation-delay: 0.45s;
}
h1 span:nth-child(4) {
    animation-delay: 0.60s;
}
h1 span:nth-child(5) {
    animation-delay: 0.75s;
}
h1 span:nth-child(6) {
    animation-delay: 0.90s;
}
h1 span:nth-child(7) {
    animation-delay: 1.05s;
}
h1 span:nth-child(8) {
    animation-delay: 1.20s;
}
h1 span:nth-child(9) {
    animation-delay: 1.35s;
}
h1 span:nth-child(10) {
    animation-delay: 1.50s;
}
h1 span:nth-child(11) {
    animation-delay: 1.65s;
}
h1 span:nth-child(12) {
    animation-delay: 1.80s;
}
h1 span:nth-child(13) {
    animation-delay: 1.95s;
}
h1 span:nth-child(14) {
    animation-delay: 2.1s;
}
h1 span:nth-child(15) {
    animation-delay: 2.25s;
}
h1 span:nth-child(16) {
    animation-delay: 2.40s;
}
@keyframes animate {
    80%, 100% {
        color: #dc779f;
        filter: blur(1.5px);
        text-shadow: 0 0 10px ##dc779f, 0 0 20px ##dc779f, 0 0 40px ##dc779f, 0 0 80px ##dc779f, 0 0 120px ##dc779f, 0 0 200px ##dc779f, 0 0 300px ##dc779f, 0 0 400px ##dc779f;
    }
    0%, 80% {
        color: #520725;
        filter: blur(1.5px);
        text-shadow: 0 0 10px ##520725, 0 0 20px ##520725, 0 0 40px ##520725, 0 0 80px ##520725, 0 0 120px ##520725, 0 0 200px ##520725, 0 0 300px ##520725, 0 0 400px ##520725;
    }
}